<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mrtrm -->
      <package
            uri="http://www.example.org/mrtrm"
            class="mrtrm.MrtrmPackage"
            genModel="model/mrtrm.genmodel"/>
   </extension>

</plugin>
